* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Archivo Black', sans-serif;
}

body {
  background-image:
    linear-gradient(rgba(0, 0, 0, .88), rgba(0, 0, 0, .88)),
    url('../assets/imgs/foto_index_fundo.png');

  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  color: #fff;
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 180px;
  background: #0e131a;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba(255, 255, 255, 0.05);
}

.profile {
  text-align: center;
  margin-bottom: 30px;
}

.profile img {
  width: 70px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.menu {
  display: flex;
  flex-direction: column;
}

.menu a {
  text-decoration: none;
  color: #aaa;
  padding: 10px;
  border-radius: 8px;
  transition: .2s;
  font-size: 14px;
}

#btn_sair {
  width: 100%;
  height: 40px;
  background: #121821;
  border: 1px solid rgba(0, 255, 255, .5);
  color: #fff;
  border-radius: 10px;
  cursor: pointer;

  box-shadow:
    0 0 10px rgba(0, 255, 255, .3);

  transition: .2s;

}
#btn_sair:hover {
    background: #00e0c6;
    color: #000;
}

.navegacao {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: start;
  border-radius: 5px;
  padding-left: 5px;
}

.navegacao:hover {
  background: #00e0c620;
  color: #00e0c6;

}

.navegacao a {
  color: #fff;
}

.icons {
  max-width: 16px;
  max-height: 16px;
}

.logout {
  margin-top: auto;
  font-size: 13px;
  color: #777;
}


.main {
  flex: 1;
  padding: 40px;
}

.top {
  margin-bottom: 40px;
}

.top h1 {
  font-size: 42px;
  margin-bottom: 10px;
  color: #fff;
}

.top p {
  color: #aaa;
  margin-bottom: 15px;
}

.filtro {
  display: flex;
  gap: 15px;
  margin: 15px;
}

.filtro select {
  width: 50%;
  padding: 10px;
  border-radius: 8px;
   border-width: 1px;
  border-style: solid;
  background: #121821;
  color: #aaa;
  font-size: 16px;
  text-align: center;
  border-color: #ff9d00;
  box-shadow: 0 0 10px rgb(255 157 0 / 70%);
  font-weight: bold;
}

.btn {
  font-weight: bold;
  color: #aaa;
  font-size: 16px;
  text-align: center;
  background-color: #121821;
  border-radius: 8px;
  border-color: #ff9d00; 
  border-width: 1px;
  border-style: solid;
  box-shadow: 0 0 10px rgb(255 157 0 / 70%);
  cursor: pointer;
  width: 50%;
}

.btn_2{
  color: white;
  background-color: #121821;
  border-radius: 7px;
  border-width: 1px;
  border-style: solid;
  border: 1px solid rgba(0, 255, 255, .5);
  box-shadow:
        0 0 10px rgba(0, 255, 255, .3);
  cursor: pointer;
  width: 100%;
  height: 40px;
}

.btn:hover {
  background: #00c2aa;
}


.graficos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  width: 100%;
  justify-content: center; /* Centraliza se a tela for muito grande */
}

.grafico {
  background: #121821;
  border-radius: 16px;
  padding: 25px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  
  /* Gerenciamento inteligente de tamanho */
  flex: 1;
  min-width: 350px;
  max-width: 550px; /* Impede que os gráficos estiquem infinitamente para os lados */
  height: 480px;    /* Define uma altura fixa idêntica para ambos ficarem alinhados */
  
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.topo {
  box-shadow: 0 0 10px 3px rgb(255 157 0 / 70%);
}

.baixo {
  box-shadow: 0 0 10px 3px rgba(0, 255, 255, 0.6);
}

.grafico h3 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 18px;
  color: #fff;
  text-align: center;
}

/* Container interno para o canvas respirar sem bugar */
.grafico canvas {
  width: 100% !important;
  height: 100% !important;
  max-height: 320px; /* Limita a altura do elemento gráfico interno */
}


.kpis {
  display: flex;
  gap: 20px;
  width: 100%;
}

.kpi {
  flex: 1;
  background: #121821;
  border-radius: 16px;
  padding: 30px;
  border: 1px solid rgba(255, 255, 255, 0.05);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px 3px rgba(0, 255, 255, 0.7);
}

.kpi h2 {
  color: #aaa;
  margin-bottom: 20px;
  font-size: 18px;
  text-align: center;
}

.kpi span {
  font-size: 40px;
  font-weight: bold;
  color: #00e0c6;
  margin-bottom: 10px;
  text-align: center;
}

.kpi p {
  color: #aaa;
  font-size: 16px;
  text-align: center;
}

