*{margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Archivo Black', sans-serif;}
body{
  background-image:
  linear-gradient(rgba(0,0,0,.88), rgba(0,0,0,.88)),
  url('../assets/imgs/foto_index_fundo.png');

  background-size:cover;
  background-position:center;
  background-attachment:fixed;

  color:#fff;
  display:flex;
  min-height:100vh;
}

/* SIDEBAR */
.sidebar{
  width:180px;
  background:#0e131a;
  padding:20px;
  display:flex;
  flex-direction:column;
  border-right:1px solid rgba(255,255,255,0.05);
}

.profile{
  text-align:center;
  margin-bottom:30px;
}

.profile img{
  width:70px;
  border-radius:50%;
  margin-bottom:10px;
}

.profile span{
  font-size:12px;
  color:#00e0c6;
}

.menu{
  display:flex;
  flex-direction:column;
}
#h2_fim{
  margin: 20px;
}
.card_respostas{
  background:#121821;
  border:1px solid rgba(255,255,255,0.05);
  border-radius:16px;
  padding:15px;
  height: 100px;
  text-align:center;
  cursor:pointer;
  transition:.25s;
  box-shadow: 0 0 10px 3px rgba(0, 255, 255, 0.6);
}
.card_respostas h3{
  font-size:15px;margin-bottom:5px
}
.card_respostas p{
  font-size:12px;color:#888
}
.menu a{
  text-decoration:none;
  color:#aaa;
  padding:10px;
  border-radius:8px;
  transition:.2s;
  font-size:14px;
}

.navegacao {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: start;
  border-radius: 5px;
  padding-left: 5px;
}
.navegacao:hover{
  background:#00e0c620;
  color:#00e0c6;
}

.navegacao a{
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}
.logout{
  margin-top:auto;
  font-size:13px;
  color:#777;
}
#btn_sair {
  width: 100%;
  height: 40px;
  background: #121821;
  border: 1px solid rgba(0, 255, 255, .5);
  color: #fff;
  border-radius: 10px;
  cursor: pointer;

  box-shadow:
     0 0 10px rgba(0, 255, 255, .3);

  transition: .2s;
}

#btn_sair:hover {
    background: #00e0c6;
    color: #000;
}


.main{
  flex:1;
  padding:40px;
}

.top{
  margin-bottom:30px;
}

.top h1{
  font-size:32px;
  margin-bottom:10px;
}
.progress{
  height:6px;
  background:#1a212b;
  border-radius:10px;
  overflow:hidden;
  margin-top:10px;
}
.progress span{
  display:block;
  width:0%;
  height:100%;
  background:#00e0c6;
}

.question{
  text-align:center;margin:30px 0
}
.question h2{
  font-size:22px;margin-bottom:10px
}
.question p{
  font-size:14px;color:#aaa
}

.cards{
  display:grid;
  grid-template-columns:repeat(5,1fr);
  gap:20px;
}

.card{
  background:#121821;
  border:1px solid rgba(255,255,255,0.05);
  border-radius:16px;
  padding:15px;
  text-align:center;
  cursor:pointer;
  transition:.25s;
}

.card:hover{
  transform:translateY(-5px);
  border-color:#00e0c6;
}

.card.active{
  border:2px solid #00e0c6;
  box-shadow:0 0 15px rgba(0,224,198,.3);
}

.card img{
  width:100%;
  height: 70%;
  background-color: white;
  border-radius:10px;
  margin-bottom:10px;
}

.card h3{font-size:14px;margin-bottom:5px}
.card p{font-size:12px;color:#888}

.actions{margin-top:40px;text-align:center}

.btn{
  background:#00e0c6;
  border:none;
  padding:12px 25px;
  border-radius:10px;
  color:#000;
  font-weight:600;
  cursor:pointer;
  transition:.2s;
}

.btn:hover{background:#00c2aa}

.inicio {
  text-align: center;
  margin-top: 100px;
}

.inicio h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.inicio p {
  color: #aaa;
  margin-bottom: 30px;
}

.inicio button {
  background: #161616;
  border: none;
  color: #fff;
  padding: 15px 40px;
  border-radius: 12px;
  font-size: 16px;
  box-shadow: 0 0 10px 3px rgba(0, 255, 255, 0.6);
  font-weight: bold;
  cursor: pointer;
}

.inicio button:hover {
  background: #00c2aa;
}
.resultado {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.resultado_card {
    
    min-height: 320px;

    background-color: #121821;

    border:1px solid rgba(255,255,255,0.05);
    border-radius: 18px;

    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    gap: 12px;

    box-shadow: 0 0 10px 3px rgba(0, 255, 255, 0.6);

    transition: 0.3s;
}

.resultado_card:hover {
    transform: translateY(-5px);
}

.resultado_card img {
    width: 120px;
    height: 120px;

    object-fit: cover;

    border-radius: 12px;
}

.resultado_card h1 {
    font-size: 24px;
    color: white;

    margin: 0;
}

.resultado_card p {
    font-size: 14px;
    color: #cfcfcf;

    line-height: 1.5;
}